
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">
    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link href="~/assets_homepage/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/assets_homepage/css/tiny-slider.css" rel="stylesheet">
    <link href="~/assets_homepage/css/style.css" rel="stylesheet">

    <title>MyDukkan</title>
</head>
<body>
    <!-- Start Header/Navigation -->
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyDukkan</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsFurni">
                <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                    @*@await Component.InvokeAsync("Menu")*@
                    @*  <li class="nav-item active">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li><a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Categories</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li> *@
                </ul>

                <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                    <li><a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index"><img src="~/assets_homepage/images/user.svg"></a></li>
                    <li><a class="nav-link" href="cart.html"><img src="~/assets_homepage/images/cart.svg"></a></li>
                </ul>
            </div>
        </div>

    </nav>
    <!-- End Header/Navigation -->
    <!-- Start Hero Section -->
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-5">
                    <div class="intro-excerpt">
                        <h1>Instrument <span clsas="d-block">Shopping Site</span></h1>
                        <p class="mb-4">The best instruments in the world at the most affordable prices.</p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="hero-img">
                        <img src="~/assets_homepage/images/homepage_basgitar.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Hero Section -->
    <!-- Start Product Section -->
    <div class="product-section">
        <div class="container">
            <div class="col-lg-6">
                <h2 class="section-title">Products On Sale</h2>
                <br />
                <br />
            </div>
            <div class="row">
                <!-- Start Column 1 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/saksafon_homepage.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Saxophone</h3>
                        <strong class="product-price">$250.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 1 -->
                <!-- Start Column 2 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-2.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Kruzo Aero Chair</h3>
                        <strong class="product-price">$78.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 2 -->
                <!-- Start Column 3 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 3 -->
                <!-- Start Column 4 -->
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                    <a class="product-item" href="cart.html">
                        <img src="~/assets_homepage/images/product-3.png" class="img-fluid product-thumbnail">
                        <h3 class="product-title">Ergonomic Chair</h3>
                        <strong class="product-price">$43.00</strong>

                        <span class="icon-cross">
                            <img src="~/assets_homepage/images/cross.svg" class="img-fluid">
                        </span>
                    </a>
                </div>
                <!-- End Column 4 -->
            </div>
        </div>
    </div>
    <!-- End Product Section -->
    <!-- Start Why Choose Us Section -->
    <div class="why-choose-section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12">
                    <h2 class="section-title">Why Choose Us</h2>
                    <div class="row my-5">
                        <div class="col-3 col-md-3">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/assets_homepage/images/truck.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Fast &amp; Free Shipping</h3>
                            </div>
                        </div>
                        <div class="col-3 col-md-3">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/assets_homepage/images/bag.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Easy to Shop</h3>
                            </div>
                        </div>
                        <div class="col-3 col-md-3">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/assets_homepage/images/support.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>24/7 Support</h3>
                            </div>
                        </div>
                        <div class="col-3 col-md-3">
                            <div class="feature">
                                <div class="icon">
                                    <img src="~/assets_homepage/images/return.svg" alt="Image" class="imf-fluid">
                                </div>
                                <h3>Hassle Free Returns</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Why Choose Us Section -->
    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">
            <div class="border-top copyright">
                <div class="row pt-4">
                    <ul class="list-unstyled custom-social">
                        <li><a href="https://www.facebook.com/"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="https://twitter.com/"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="https://www.instagram.com/"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="https://www.linkedin.com/"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by Ahmet Sabri Bostan
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Section -->
    @RenderBody();
    <script src="~/assets_homepage/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets_homepage/js/tiny-slider.js"></script>
    <script src="~/assets_homepage/js/custom.js"></script>
</body>
</html>